{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Task Complete</title>{% endblock title %}

{% block content %}
{% comment %} <section class="hero is-medium is-primary" id="hero-section"> {% endcomment %}
<section class="hero is-medium" id="hero-section">
    <div class="container">
        <div class="hero-body">
            <p class="title is-size-1">
            Task Complete
            </p>
            <p class="subtitle is-size-5 has-text-black-bis">
            A simple task manager
            </p>
        </div>
    </div>
</section>

<footer>
        <p>This site is still in development but you can still test it out.</p>
        <p>user: testuser, pw: testpassword</p>
</footer>
{% endblock content %}