{% extends "base.html" %}

{% block content %}

<div class="container is-flex is-flex-direction-column">

    <form class="is-align-self-center is-flex is-flex-direction-column" method="post">
    {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.email.label_tag }}</td>
                <td class="pl-2">{{ form.email }}</td>
            </tr>
        </table>

        <input class="button is-primary mt-2 is-align-self-center" type="submit" value="Send Password Reset Link">
    </form>

    </div>
{% endblock %}