{% extends 'base.html' %}

{% block content %}

<div class="container ml-3 is-flex is-flex-direction-column">
<h1 class="title has-text-centered">Projects</h1>
<div class="is-align-self-center mb-4">
<a class="button is-primary">Add Project</a>
</div>

<div class="columns is-mobile">
    <div class="column is-8 is-offset-2 is-full-mobile">
        <ul>
        {% for project in project_list %}
            <li>
            <a href="{{ project.get_absolute_url }}" class="box mb-2 has-text-centered">{{ project.title }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
</div>

{% endblock content %}